body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cabecera{
    width: 1000px;
    border: 10px solid rgb(209, 207, 207);
    border-bottom: 20px solid rgb(209, 207, 207);
    align-content: center;   
}

.parque{
    width: 900px;
    border: 1px solid grey;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
}

h1{
    color: rgb(207, 136, 3);
    text-align: center;
}

h2{
    color: rgb(147, 197, 114);
    margin-bottom: -5px;
}

h3{
    color: rgb(207, 136, 3);
}

b{
    color: rgb(14, 160, 14);
}
